<mat-card class="Home-Page mat-elevation-23">

    <mat-card-header>
        <mat-card-title>Página inicial</mat-card-title>
        <mat-card-subtitle>Bem vindo a Concessionária</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <img src="https://s2.glbimg.com/1lRKsKreVqffH30u4DskyG7_HuY=/0x0:2000x1333/984x0/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2018/08/01/venda-carros-novos_2018-07-13_q98a7885_fabio_tito-g1.jpg" 
            alt="Imagem da Concessionária">
        </p>
    </mat-card-content> 
</mat-card>
