<mat-card class="fabricantes-list mat-elevation-23">
    <button mat-raised-button class="button_new" color="primary" routerLink="/fabricantes/form">
        Novo Fabricante
    </button>
    <mat-card-header>
        <mat-card-title>Fabricantes</mat-card-title>
        <mat-card-subtitle>Lista de Fabricantes Cadastrados</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Colocar aqui a Lista dos Fabricantes cadstrados mas as ações possíveis para cada registro.
        </p>
    </mat-card-content> 
</mat-card>
